body {
    background-color: blanchedalmond;
}
.sidebar-top {
    
}
.sidebar-bottom {
    
}
.sidebar{
    background-color:#0099f1;
    color:aliceblue;
    grid-row:2/4;
    grid-column: 1/2;
}
.header{
    background-color: aliceblue;
    grid-row:1/2;
    grid-column:2/5;
    box-shadow:0px 5px #c0c0c0;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr;
}
.statusbar{
    align-self: top right;
}
.actionbar{
    align-self: bottom right;
    display: grid;
    grid-template-columns: auto auto auto;
}
.buttondiv {
    background-color: #0099f1;
    padding:10px 20px;
    border-radius: 20px;
    margin:auto;
}
.icon {
    height:25px;
    width: 25px;
   
}
.icon-lrg{
    height:50px;
    width:50px;
    border-radius: 25px;
    background-color: orange;
    align-self: center;
    justify-self: center;
}
.logo{
    background-color: #0099f1;
    color:aliceblue;
    grid-row: 1/2;
    grid-column:1/2;
}
li {
    list-style:none;
    
}
ul{
    padding-left:0px;
}
.sidebar-item{
    display:grid;
    justify-content: start;
    grid-template-columns: 45px auto;
    align-items:center;
}
.project-card{
    background-color: white;
    box-shadow: 5px 0px orange inset,5px 5px #c0c0c0;

    border-radius:5px;
    height:200px;
    width: 300px;
    padding:10px;
    display:grid;
    
}
.sidebar-icon{
    color:white;
    margin:10px;
    grid-row:1/2;

}
.sidebar-item>h3 {
    grid-column: 2/3;
    
}
.searchbar{
    display:grid;
    grid-template-columns: 48px auto;
    grid-template-rows: 1fr 1fr;
}
.searchbar>input{
    border-radius: 10px;
    align-self: top right;
}
.searchbar>img{
   align-self:center;
}
.projects{
    grid-row:2/ 4;
    grid-column:2 /3;
    
}
h4{
    margin:0px 0px;
}
.project-holder{
    gap:25px;
    margin:20px;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: 220px;
    grid-auto-rows: 220px;
}
.announcement-holder{
    padding:1rem;
    display:grid;
    grid-auto-rows: auto;
    justify-content:start;
}

 .icon-box{
     align-self: end;
     justify-self: end;
 }


.trending{
    display:grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 1fr;
}
.trending>.icon-lrg{
    grid-row:1/3;
    grid-column: 1/2;
}
.trending>h3{
    grid-row:1/2;
    grid-column: 2/3;
}
.trending>p{
    grid-row:2/3;
    grid-column: 2/3;
}
.trending-holder , .announcement-holder {
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px #c0c0c0;
}
.social {
    grid-row:2/3;
    grid-column: 3/4;
    display:grid;
    justify-content: top; 
    align-items:top;
    margin:20px;
}
.greeting{
    display:grid;
    grid-template-columns: 75px auto;
    grid-template-rows: 35px 35px;

}
.greeting>img{
    grid-row: 1/3;
    grid-column: 1/2;
}
.greeting>h2{
    margin:0 0 0 0;
    grid-row: 2/3;
    grid-column: 2/3;
}

.greeting>p{
    margin:0 0 0 0;
    grid-row: 1/2;
    grid-column: 2/3;
}

.container{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 150px 5fr;
    width:1200px;
    align-self:top center;
    background-color: antiquewhite;
}
body{
    display:grid;
    align-items: center;
    justify-content: center;
}
.content{
    grid-row: 2 /3;
    grid-column:2/ 4;

}